@model IEnumerable<Tour_SSO.Models.Tour>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container">
    <a href="/AdminArea/Tour/Create" class="btn btn-primary">Create Tour</a>
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <td>STT</td>
                <td>Name</td>
                <td>Price</td>
                <td>Image</td>
                <td>Status</td>
                <td>Option</td>
            </tr>
        </thead>
        <tbody>
            @{
                var stt = 0;
                foreach (var item in Model)
                {
                    stt++;
                    <tr>
                        <td>@stt</td>
                        <td>@item.Name</td>
                        <td>@Html.FormatValue(item.Price,"{0:#,###}") @item.UnitPrice</td>
                        <td><img src="@item.Image" width="50" height="36" title="ảnh @item.Name" /></td>
                        <td>@(item.Status == 1 ? "Sẵn Sàng" : "Đã Hủy")</td>
                        <td>
                            <a href="/AdminArea/Tour/Edit/@item.TourId" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i> Edit</a> | 
                        
                            <button class="btn btn-default btn-delete" value="@item.TourId" ><i class="glyphicon glyphicon-trash"></i> Delete</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>
<script>
   
   

    $(".btn-delete").click(function(){
        var tourid = $(this).val();

        $.confirm({
            icon: 'glyphicon glyphicon-trash',
            boxWidth: '30%',
            theme: 'light',
            title: 'Encountered an error!',
            autoClose: 'cancel|8000',
            content: 'Do you want to delete this Tour',
            type: 'red',
            typeAnimated: true,
            buttons: {
                tryAgain: {
                    text: 'Confirm',
                    btnClass: 'btn-red',
                    action: function(){
                        $.ajax({
                            url: "/adminarea/tour/delete",
                            data: {tourid: tourid},
                            success: function (res) {
                                $.alert({
                                    title: "Notification",
                                    type: "green",
                                    content: "Deleted"
                                });
                                location.reload();

                            },
                            error: function () {
                                $.alert({
                                    title: "Notification",
                                    type: "red",
                                    content: "Something is wrong."
                                })
                            }
                        });  
                    }
                },
                cancel: function () {
                    
                }
            }
        });
    })
        
    //fa fa-spinner fa-spin        
    
        

       

         
    
</script>