<div class="row gallery-row">
    <!-- Begin Gallery Row -->

    <div class="span12">
        <h3 class="title-bg" style="color:#fc7700; font-family:'Book Antiqua'">
            Danh sách Tour 
        </h3>

        <!-- Gallery Thumbnails
        ================================================== -->

        <div class="row clearfix no-margin">
            <ul class="gallery-post-grid holder">

                @{ var b = 0;
                    foreach (var item in Model)
                    {
                        b++;
                         <!-- Gallery Item 1 -->
                        <li class="span3 gallery-item" data-id="id-@b" data-type="illustration">
                            <span class="gallery-hover-4col hidden-phone hidden-tablet" style="height:220px;">
                                <span class="gallery-icons">
                                    <a href="@item.Image" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
                                    <a href="/Home/Detail/@item.TourId" class="item-details-link"></a>
                                </span>
                            </span>
                            <a href="/Home/Detail/@item.TourId"><img src="@item.Image" alt="Gallery" style="height:220px;"></a>
                            <span class="tour-name">
                                <a href="/Home/Detail/@item.TourId">@item.Name</a><!--For an international ad campaign.-->
                            </span>
                            <div class="tour-name" style="height:40px;text-align:center;">
                                <div class="date col-xs-2" style="width:19%;float:left;height:100%;border-right: 1px solid #ccc;">
                                    <div style="font-weight: bold; border-bottom: 1px solid #ccc; padding-bottom: 2px; font-size: 16px; ">@item.Days</div>
                                    <div style="padding-top: 2px; font-size: 10px;">NGÀY</div>
                                </div>
                                <div class="price col-xs-7 text-center" style="width:50%; float:left;height:100%;border-right: 1px solid #ccc;">
                                    <div style="height:10px">&nbsp;</div>
                                    <span class="price-new">@Html.FormatValue(item.Price, "{0:#,###}") @item.UnitPrice</span>
                                </div>
                                <div class="btn-book col-xs-3 hvr-sweep-to-right" style="width:29%; float:right;height:100%;font-size: 16px;color: #fc7700;text-align: center;">
                                    <div style="height:10px">&nbsp;</div>
                                    <span style="padding-top:2px;font-family:monospace;">ĐẶT</span>
                                </div>
                            </div>
                        </li>
                    }
                }

            </ul>
            <div>
            </div>
        </div>
    </div>

</div><!-- End Gallery Row -->

<style>
    .tour-name {
        background: #f8f8f8;
        display: block;
        padding: 10px;
        border-bottom: 1px dotted #a9a9a9;
        /*font-family: Georgia;
        width: auto\9;*/
        height: 28px;
        max-width: 100%;
        font-weight: bold;
        border-bottom: 1px solid #ccc;
        font-size: 16px;
        vertical-align: middle;
    }

        .tour-name > a {
            font-family: cursive;
            color: #0088cc !important;
        }

    .price-new {
        padding-top: 2px;
        font-family: initial;
    }
</style>